# ignore voxel_info directory 
/voxel_info/

# List of directories to ignore in git trackign

__pycache__
.ipynb_checkpoints/
notebooks/old/
files/
!files/binding_cavity/AF3_center_reference.npy
!files/binding_cavity/canonical_bc_coords.npy
!canonical_bc_coords.npy
# !*/

output*
output/bc_voxel
output/voxel_preprocessing
output/pp_binding_cavity
output/cnn*
output/AF3*

scripts/bc_cav_dump.py
scripts/bc_Cbc_coords.py
scripts/bc_jaccard.py
scripts/cnn_spatialAA_model.py
scripts/cnn_spatialAA_binary_model.py
scripts/cnn_spatialAA_binary.py
scripts/cnn_spatialAA_binary_AF3.py
scripts/cnn_spatialAA_ORclassification_model_AF3.py
scripts/cnn_spatialESM_Chemcalssification_model_AF3_OLD_WORKS.py
scripts/cnn_spatialESM_ORclassification_model_AF3.py
scripts/cnn_spatialESM_Odorclassification_model_AF3.py
scripts/cnn_spatialESM_binary_model_AF3.py
scripts/cnn_spatialESM_model.py