# ignore voxel_info directory 
/voxel_info/

# List of directories to ignore in git trackign

__pycache__
.ipynb_checkpoints/
notebooks/old/
files/

output/bc_voxel
output/voxel_preprocessing
output/pp_binding_cavity
