# ignore voxel_info directory 
/voxel_info/

# List of directories to ignore in git trackign

__pycache__
.ipynb_checkpoints/
notebooks/old/
files/
!files/binding_cavity/AF3_center_reference.npy
!files/binding_cavity/canonical_bc_coords.npy
!canonical_bc_coords.npy
# !*/

output*
output/bc_voxel
output/voxel_preprocessing
output/pp_binding_cavity
output/cnn*
output/AF3*
